<!DOCTYPE html>
<html lang="ja">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>ログイン</title>
 <!--script src="https://code.jquery.com/jquery-2.2.4.min.js"></script-->
<style>
*{
 margin: 0;
}
html{
 background-color: #fdfdfd;
}
div#login_box{
 width: 300px;
 margin: 60px auto;
}
div#login_box form{
 padding: 10px 40px 60px;
 border: solid 1px #eee;
 box-shadow: 5px 5px 10px #eee;
 background-color: #fff;
}
div#login_box input{
 width: 97%;
 border: solid 1px #ddd;
 background-color: #fdfdfd;
 margin-bottom: 1em;
 line-height: 2;
}
div#login_box button{
 float: right;
}
#error {
 color: red;
}
</style>
</head>

<body>
 <div id="login_box">
  <h3>Login</h3>
  <form method="post" action="/login">
   ID:<input type="text" name="id" size="20"><br>
   パスワード:<input type="password" name="passwd" size="20"><br>
   <button>ログイン</button>
  </form>
  <br>
<%if(acc_opt == 1){%>
  <div id="new_user_link">
   <a href="/new">新規アカウント作成</a>
  </div>
<%}%>
  <div id="error"><%- error %></div>
 </div>
</body>
</html>
